 body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* header section */
#header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url("/images/bg-bike.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.user-box img {
    border-radius: 50%;
    width: 250px;
    border: 2px solid#fff;
}
.user-box h1 {
    color: #fff;
    font-weight: bold;
    margin: 10px;
}
.user-box p{
    color: #fff; 
}


/* Navbar Section */
.nav-bar {
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar {
    background-color: #000;
}
.navbar .fa-bars {
    color: #fff;
    font-size: 1.5rem;
}
.navbar-toggler{
    outline: none !important;
}
.nav-link {
    color: #fff !important;
}
.navbar-nav {
    float: right;
    text-align: right;
}


/* About */
#user-info {
    width: 80%;
    margin: auto;
}
.about {
    padding: 100px 0 60px;
}
.profile-img {
    height: 240px;
}


/* social-media-links */
.social-media-icons {
    top: 25%;
    height: 0;
    transform: translateY(-90%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-media-icons ul {
    padding: initial;
}
.social-media-icons ul li {
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    background: #000;
}
li a {
    font-size: 1rem;
    color: #fff;
}
.social-media-icons ul li:hover {
    padding-left: 30px;
    width: 60px;
    color: gold;
    transition: 0.4s;
}
li a:hover {
    color: gold;

}


/* Skills Section */
#skills {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
#skills .row {
    width: 90%;
    margin: auto;
}
.progress {
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar {
    border-radius: 16px;
    background: #000 !important;
}


/* Experience / Resume */
#resume {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.resume {
    padding-top: 20px;
    padding-bottom: 15px;
    background: #f8f8f8;
}
.resume h3 {
     margin-bottom: 50px;   
}
.timeline {
    list-style-type: none;
    position: relative;
}
.timeline:before {
    content: '';
    background: #0f0f0f;
    display: inline-block;
    position: absolute;
    left: 20px;
    width: 3px;
    height: 100%;
    z-index: 1;
}
.timeline li {
    margin: 20px 0 20px 20px;
    background: #fff;

}
.timeline li h5 {
    background-color: #000;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 1rem;
}
.timeline li h5 span {
    font-weight: bold;
    color: #f7f7f7;
}
.timeline li:before {
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;  
    border-radius: 50%;
    border: 3px solid #000;
    left: 11px;
    width: 20px;
    height: 20px;
    z-index: 1;
}


/* contact section */
#contact {
    background: linear-gradient(rgba(0,0,0, 0.75), rgba(0,0,0, 0.7)), url("/images/bg-bike.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    color: #fff;
    text-align: center;
}
.contact {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.contact .row {
    padding: 30px o;
    font-size: 1.5rem;
}

.contact .col-md-4 {
    padding: 10px;
    font-size: 1.3rem;
}

.contact .col-md-4 a {
    text-decoration: none;
    color: #fff;
}
.contact .btn {
    padding: 10px 25px;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #fff;
    background: transparent;
}
.contact .btn:focus {
    box-shadow: none !important;
}
.contact .btn:hover {
    border: 2px solid #000 !important;
    background: #000 !important;
    transition: 0.5s;
}
.contact .btn .fa {
    margin-right: 10px;   
}


/* Footer Section */
.footer {
    background: #000;
    height: 50px;
    color: #fff;
    padding-top: 10px;
}
.fa-heart-o{
    color: red;
}